/* Overrides of the app.css */
/* the app css sets icon-circle line height, overriding the line-height set for fa-lg. */

.circle-icon {
  line-height: 30px !important;
}

ol.breadcrumb {
  background-color: unset;
}

ol.breadcrumb > li + li:before {
  content: unset;
}

.alert.fade {
  opacity: 1;
}

.alert.fade em {
  background-color: #dff0d8;
  color:#3c763d;
  vertical-align: initial;
  opacity: 1;
}

.alert.fade em a {
  color:#3c763d;
}
