{% extends "block--bare.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup templates
 */
#}
{% block content %}
  <div class="navbar-brand">
    <span><img src="{{ site_logo }}" alt="" usemap="#logo" class="banner-logo">
      <map name="logo">
        <area shape="rect" coords="1,1,198,20" href="https://www.energy.gov" alt="Energy.gov">
        <area shape="rect" coords="2,22,198,75" href="https://www.energy.gov/eere/office-energy-efficiency-renewable-energy" alt="Office of Energy Efficiency and Renewable Energy">
      </map>
    </span>
    <span class="banner-title"><a href="https://www.energy.gov/eere/femp/federal-energy-management-program">{{ site_office }}</a></span>
  </div>
{% endblock %}

